#loadimg {
    display: none;
    transition: all 0.5s;
}


.loadingIMG {
    display: none;
    width: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    transition: 0.5s;
}

.loadingIMG img {
    width: 100%;
}

.sidenav {
    height: -webkit-fill-available;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 40px;
}

.sidenav a {
    font-size: 18px;
    font-family: monospace;
    font-weight: bolder;
    color: white;
    padding: 8px 19px 8px 32px;
    text-decoration: none;
    display: block;
    transition: all 0.3s;
    line-height: 2em;
    cursor: pointer;
}

.sidenav a:hover {
    color: #FF789B;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

body {
    background-color: #FF789B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

footer {
    margin-left: 4%;
    position: absolute;
    bottom: 1%;
    font-size: 12px;
    font-family: monospace;
    color: #8080807d;
}

.start_container {
    border-top: 1px rgba(191, 63, 63, 0.5) dashed;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    width: 50vw;
    padding: 30px;
    justify-content: space-around;
}

.start_be {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    text-align: center;
}

input {
    font-family: monospace;
    text-align: center;
}

.start_be button {
    background-color: palevioletred;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border: none;
    margin-top: 10px;
    transition: all .5s;
}


.start_be button:hover {
    opacity: 0.7;
}

.inputA {
    margin-left: 30px;
    opacity: 0.2;
    width: 60%;
}

.inputB {
    opacity: 0.2;
    width: 60%;

}

.info_but {
    background-color: palevioletred;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: none;
    transition: all .5s;
}

.info_but:hover {
    opacity: 0.7;
}



.reg {
    background-color: #FF789B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
    position: absolute;
    z-index: 200;
    bottom: 20%;
    right: 45%;
    transition: all .5s;
}

.reg:hover {
    opacity: 0.7;
}

.playsec {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.playerImg {
    width: 30px;
    margin-top: 4%;
}

.playerImg img {
    width: 100%;
}

.info_text {
    font-size: 12px;
    font-family: monospace;
    color: WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2em;
    margin-top: 10px;
    padding: 10px;
}

.prof_face {
    margin: 0 auto;
    margin-top: 10%;
    width: 200px;
}

.prof_face img {
    width: 100%;
}

.img_circle {
    width: 300px;
    height: 300px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 234, 234, 0.283)), to(rgba(242, 45, 101, 0.18)), color-stop(.5, rgb(209, 181, 209)));
    border-radius: 100%;
}

.img_circle img {
    width: 100%;
}


.log_container {
    width: 800px;
    margin: 0 auto;
}

.log_container img {
    width: 100%;
}

.fixedHeader {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 1000;
    transform: translateZ(0);
    height: 40px;
    background-color: #FF789B;
    box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
}

.fixed_logo {
    width: 40px;
    margin-left: 5px;
    position: fixed;
}

.fixed_logo img {
    width: 100%;
}

.fixedLogoText {
    width: 150px;
    top: -55%;
    left: 40px;
    position: fixed;
}

.fixedLogoText img {
    width: 100%;
}


.card_logo {
    margin-left: 20px;
    width: 40px;
}

.card_logo img {
    width: 100%;
}


.logo {
    cursor: pointer;
}



header {
    padding: 20px;
}

.FbButton {
    display: flex;
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}

.footer-nav a {
    margin-right: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    font-family: monospace;
    transition: all .5s;
}


.main-nav ul li a:hover {
    color: white;
}


.card {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 233, 234, 0.23)), to(rgba(242, 45, 101, 0.5)), color-stop(.5, rgb(209, 181, 209)));
    background-color: rgba(255, 176, 202, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vw;
    width: -webkit-fill-available;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    transition: box-shadow .1s ease, transform .1s ease;
    box-shadow: 0 0 0 0.1px #d4d4d5, 0 0.1px 0.1px 0 rgba(34, 36, 38, .12), 0 0.1px 0.2px 0 rgba(34, 36, 38, .15);
}

.card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-img {
    height: 30px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.checkmark,
.crossmark {
    font-size: 20px;
    color: gray;
    line-height: 2em;
    font-family: monospace;
    text-align: center;
}

.crossmark {
    align-self: center;
}

.header {
    font-family: monospace;
    font-size: 50px;
}

.header>img {
    width: 100%;

}

.login {
    background-color: #FF789B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
}



@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }
}


.checkmark.active {
    width: 130px;
    height: 160px;
    padding: 50px 60px 0 0;
    margin-bottom: -60px;
}

.checkmark.active:after {
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    border-right: 30px solid #24b663;
    border-top: 30px solid #24b663;
    content: '';
    display: block;
    height: 80px;
    width: 40px;
    animation: check .8s;
}

@keyframes failed-left {
    0% {
        height: 0;
    }

    45% {
        height: 28px;
    }
}

@keyframes failed-right {
    0% {
        height: 0;
    }

    55% {
        height: 0;
    }

    100% {
        height: 28px;
    }
}

.crossmark.active {
    width: 110px;
    height: 110px;
    position: relative;
    margin: -20px -50px 20px 0;
}

.crossmark.active::before,
.crossmark.active::after {
    background: #c53b00;
    content: '';
    display: block;
    height: 130px;
    position: absolute;
    transform-origin: 10px 50px;
    width: 20px;
}

.crossmark.active::before {
    animation: failed-left .8s ease;
    transform: translate(7px, 9px) rotate(-45deg);
}

.crossmark.active::after {
    animation: failed-right .8s ease;
    transform: translate(26px, 7px) rotate(45deg);
}

.meta {
    display: none;
    margin-top: 40px;
    color: rgba(0, 0, 0, .68);
    font-size: 22px;
}

.meta.active {
    display: block;
}

.description {
    color: rgba(0, 0, 0, .4);



    font-size: 16px;
}


@media only screen and (max-width: 500px) {
    .main-nav {
        display: none;
    }

    .img_circle {
        width: 150px;
        height: 150px;
    }

    .prof_face {
        width: 100px;
    }

    .info_text,
    .info_but {
        font-size: 9px;
    }

    .start_be {
        margin-right: 20px;

    }

    #bankerStart,
    #playerStart {
        font-size: 9px;
    }

    .card {
        margin-top: 25%;
    }

}