.like-btn,
.like-btn1,
.like-btn2,
.like-btn3 {
    border-style: none;
    position: relative;
    top: 0vh;
    right: 20px;
    background: url('https://designmodo.com/demo/shopping-cart/twitter-heart.png');
    width: 60px;
    height: 60px;
    background-size: 2900%;
    background-repeat: no-repeat;
}


.is-active {
    border-style: none;
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    50% {
        background-position: right;
    }

    100% {
        background-position: right;
    }
}




.closeup {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#space {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    overflow: scroll;
    height: 220px;
    position: absolute;
    left: 10px;
    top: 50px;
}

#space2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: -webkit-fill-available;
    max-height: -webkit-fill-available;
    overflow: scroll;
    height: 220px;
    position: absolute;
    left: 10px;
    top: 50px;
}

.mushAddd {
    width: 40px;
}

#mushAdd {
    width: 40px;
}


#mushAdd2 {
    width: 40px;
}


#ii {
    margin-right: 20px;
}

body {
    background-color: #FF789B;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.score {
    display: flex;
    align-content: center;
    align-items: center;
    height: fit-content;
    position: absolute;
    font-family: monospace;
    font-size: 18px;
    font-weight: bolder;
    top: 0px;
    right: 0px;
}

.speedup {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: lighter;
}

.speedup button {
    background-color: #89f4bc;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
    transition: all .5s;
}

.speedup button:hover {
    opacity: 0.7;
}

.extend {
    margin-left: 20px;
}

.score_img {
    width: 50px;
}

.score_img img {
    width: 100%;
}

.banker_section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    font-family: monospace;
    font-size: 14px;
    font-weight: bolder;
    color: white;
}

.green {
    color: #89f4bc;
    font-size: 14px;
    font-weight: bold;

}

.ET {
    color: #89f4bc;
    font-size: 24px;
}

footer {
    margin-left: 4%;
    position: absolute;
    bottom: 1%;
    font-size: 12px;
    font-family: monospace;
    color: #8080807d;
}

.speedItem {
    width: 60px;
    margin: 0 auto;
}

.speedItem img {
    width: 100%;
}

.items {
    width: fit-content;
    height: inherit;
    padding: 15px;
}

.Allcompete {
    display: flex;
    justify-content: flex-start;
}

.bankerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
    font-family: monospace;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(255, 176, 202, 0.4);
    box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
    margin-top: 50px;
}

.gugucoin {
    display: flex;
    font-size: 30px;
    align-items: center;
}

.gugu {
    width: 50px;
}

.gugu img {
    width: 100%;
}

#playeID {
    margin-bottom: 10px;
    font-size: 12px;
    margin-top: -15px;
    font-weight: 300;
}

.teamFo {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.BankerImg {
    width: 120px;
    margin-top: -10px;
}

.BankerImg img {
    width: 100%;
}

.teamwork {
    display: flex;
}

.banker {
    width: 400px;
    position: relative;
}

.banker img {
    width: 100%;
}

#yourTeam1 {
    font-size: 20px;
    top: -35px;
    font-weight: bolder;
    color: white;
    position: absolute;
}

#yourTeam2 {
    font-size: 20px;
    top: -35px;
    font-weight: bolder;
    color: white;
    position: absolute;
}


.itemset {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    line-height: 1.4em;
    text-align: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
}

.itemset button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
    transition: all .5s;
}

.itemset button:hover {
    opacity: 0.7;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
}

.comp {
    width: -webkit-fill-available;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    justify-content: center;
    color: wheat;
    border: 1px solid white;
    border-radius: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.comp img {
    width: 100%;
}

.inputA {
    margin-left: 30px;
    opacity: 0.2;
    width: 60%;
}

.inputB {
    opacity: 0.2;
    width: 60%;

}

.reg {
    background-color: #FF789B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
    position: absolute;
    z-index: 200;
    bottom: 20%;
    right: 45%;
}

.info_text {
    font-size: 18px;
    font-family: monospace;
    line-height: 40px;
    letter-spacing: 5px;
    color: WHITE;

}

.prof_face {
    position: absolute;
    z-index: 200;
    top: 15%;
    left: 25%;
    width: 200px;
}

.prof_face img {
    width: 100%;
}

.img_circle {
    width: 400px;
    z-index: 100;
    position: absolute;
    left: 35%;
    top: 120px;
}

.img_circle img {
    width: 100%;
}

.have {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.log_container {
    width: 800px;
    margin: 0 auto;
}

.log_container img {
    width: 100%;
}

.fixedHeader {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    z-index: 1000;
    transform: translateZ(0);
    height: 40px;
    background-color: #FF789B;
    box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.5);
}

.fixed_logo {
    width: 40px;
    margin-left: 5px;
    position: fixed;
    cursor: pointer;
}

.fixed_logo img {
    width: 100%;
}

.fixedLogoText {
    width: 150px;
    top: -55%;
    left: 40px;
    position: fixed;
    cursor: pointer;
}

.fixedLogoText img {
    width: 100%;
}


.card_logo {
    margin-left: 20px;
    width: 40px;
}

.card_logo img {
    width: 100%;
}


.logo {
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

header {
    padding: 20px;
}

.FbButton {
    display: flex;
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}

.footer-nav a {
    margin-right: 10px;
}

.main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin-right: 20px;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    font-family: monospace;
    transition: all .5s;
}


.main-nav ul li a:hover {
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5vw;
    height: 100vh;
    width: 100vw;
    position: relative;
    border-radius: 15px;
    transition: box-shadow .1s ease, transform .1s ease;
    box-shadow: 0 0 0 0.1px #d4d4d5, 0 0.1px 0.1px 0 rgba(34, 36, 38, .12), 0 0.1px 0.2px 0 rgba(34, 36, 38, .15);
}

.card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.header-img {
    height: 30px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.checkmark,
.crossmark {
    font-size: 20px;
    color: gray;
    line-height: 2em;
    font-family: monospace;
    text-align: center;
}

.crossmark {
    align-self: center;
}

.header {
    font-family: monospace;
    font-size: 50px;
}

.header>img {
    width: 100%;

}

.login {
    background-color: #FF789B;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: monospace;
    border-radius: 20px;
    border: 0px;
}



@keyframes check {
    0% {
        height: 0;
        width: 0;
    }

    33.3333% {
        width: 40px;
        height: 0;
    }
}


.checkmark.active {
    width: 130px;
    height: 160px;
    padding: 50px 60px 0 0;
    margin-bottom: -60px;
}

.checkmark.active:after {
    transform: scaleX(-1) rotate(135deg);
    transform-origin: left top;
    border-right: 30px solid #24b663;
    border-top: 30px solid #24b663;
    content: '';
    display: block;
    height: 80px;
    width: 40px;
    animation: check .8s;
}

@keyframes failed-left {
    0% {
        height: 0;
    }

    45% {
        height: 28px;
    }
}

@keyframes failed-right {
    0% {
        height: 0;
    }

    55% {
        height: 0;
    }

    100% {
        height: 28px;
    }
}

.crossmark.active {
    width: 110px;
    height: 110px;
    position: relative;
    margin: -20px -50px 20px 0;
}

.crossmark.active::before,
.crossmark.active::after {
    background: #c53b00;
    content: '';
    display: block;
    height: 130px;
    position: absolute;
    transform-origin: 10px 50px;
    width: 20px;
}

.crossmark.active::before {
    animation: failed-left .8s ease;
    transform: translate(7px, 9px) rotate(-45deg);
}

.crossmark.active::after {
    animation: failed-right .8s ease;
    transform: translate(26px, 7px) rotate(45deg);
}

.meta {
    display: none;
    margin-top: 40px;
    color: rgba(0, 0, 0, .68);
    font-size: 22px;
}

.meta.active {
    display: block;
}

.description {
    color: rgba(0, 0, 0, .4);
    font-size: 16px;
}

@media only screen and (max-width: 1098px) {

    .card {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5vw;
        height: 100vh;
        width: 100vw;
        position: relative;
        border-radius: 15px;
        transition: box-shadow .1s ease, transform .1s ease;
        box-shadow: 0 0 0 0.1px #d4d4d5, 0 0.1px 0.1px 0 rgba(34, 36, 38, .12), 0 0.1px 0.2px 0 rgba(34, 36, 38, .15);
    }

    .content {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    }

    .Allcompete {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
    }

    .comp {
        width: 300px;
        height: 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: monospace;
        justify-content: center;
        color: wheat;
        border: 1px solid white;
        border-radius: 20px;
        margin: 30px auto;
    }

    .banker_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        padding: 20px;
        font-family: monospace;
        font-size: 14px;
        font-weight: bolder;
        color: white;
        text-align: center;
    }

    .banker {
        width: fit-content;
        margin-bottom: 50px;
    }
}